<div class="d-none d-md-block">
    <div class="hstack gap-4 justify-content-center align-items-center py-3 mb-5">
        <button *ngFor="let e of navItems" [routerLink]="e.path" class="btn px-3 py-2"
            [ngClass]="{ 'btn-outline-success': ActiveRoute != e.path, 'btn-success': ActiveRoute == e.path }"> {{
            e.label }} </button>
    </div>
</div>

<div class="d-block d-md-none">
    <div class="d-flex justify-content-end p-2">
        <button class="btn btn-outline-success btn-sm" (click)="openMobileNav(offCanvas)">
            <i class="bi bi-list fs-2 text-success"></i>
        </button>

    </div>

    <ng-template #offCanvas let-offcanvas>
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Rabeea Safadi</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="closeMobileNav(offCanvas)"></button>
        </div>

        <div class="offcanvas-body">
            <ul class="list-group">
                <li *ngFor="let e of navItems" [routerLink]="e.path" class="list-group-item">
                    {{ e.label }}
                </li>
            </ul>
        </div>
    </ng-template>
</div>